<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="SQLiteDBEntities" connectionString="metadata=res://*/SQLiteDB.csdl|res://*/SQLiteDB.ssdl|res://*/SQLiteDB.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\#Telerik#\## GitHub Directory ##\TeamNagaQueen\SQLiteDB.Data\SQLiteDB.sqlite&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>